@import url('../../opensans/opensans.css');
@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

/* Styles */

.box {
	background-color:#FFF;
	border: 1px solid #dee0df;
	margin:0px 4px 8px 4px;
	position:relative;
}

.box .padder {
	padding:10px;
}

.box.black {
	background: #353535; /* Old browsers */
	background: -moz-linear-gradient(top,  #353535 0%, #202020 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#202020)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #353535 0%,#202020 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #353535 0%,#202020 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #353535 0%,#202020 100%); /* IE10+ */
	background: linear-gradient(top,  #353535 0%,#202020 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
	border: 1px solid #202020;
	color:#FFF;
}
.box.black h4 {
	color:#FFF;
}

.ribbon,
#content h3.ribbon {
	position:absolute;
	top:20px;
	left:-2px;
	background-color:#272727;
	color:#FFF;
	margin:0px;
	padding:5px 15px 5px 20px;
	text-transform:uppercase;
	font-size:14px;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2); 
}

.button {
	display:inline-block;
	padding:0px 15px;
	height:30px;
	line-height:30px;
	text-align:center;
	min-width:70px;
	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top, #434343 0%, #0a0a0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#0a0a0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #434343 0%,#0a0a0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #434343 0%,#0a0a0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #434343 0%,#0a0a0a 100%); /* IE10+ */
	background: linear-gradient(top, #434343 0%,#0a0a0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 2px 0px #000000;
	-moz-box-shadow: 0px 0px 2px 0px #000000;
	box-shadow: 0px 0px 2px 0px #000000; 
}
a.button:hover {
	color: #FFFFFF;
	background: #35897b; /* Old browsers */
	background: -moz-linear-gradient(top,  #35897b 0%, #1e5e54 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35897b), color-stop(100%,#1e5e54)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #35897b 0%,#1e5e54 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #35897b 0%,#1e5e54 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #35897b 0%,#1e5e54 100%); /* IE10+ */
	background: linear-gradient(top,  #35897b 0%,#1e5e54 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35897b', endColorstr='#1e5e54',GradientType=0 ); /* IE6-9 */
	text-decoration:none;
}

ul.scrollButtons {
	margin:0px;
}
ul.scrollButtons li {
	display:block;
	padding:6px;
}
ul.scrollButtons li a {
	display:block;
	background-image: url(../images/arrow-sprite.png);
	background-repeat: no-repeat;
	width:5px;
	height:9px;
	text-indent:-500px;
	overflow:hidden;
}
ul.scrollButtons li.left,
ul.scrollButtons li.right {
	float:left;
}
ul.scrollButtons li.left a {
	background-position: 0px -10px;
}
ul.scrollButtons li.right a {
	background-position: -10px -10px;
}
ul.scrollButtons li.left a:hover {
	background-position: 0px 0px;
}
ul.scrollButtons li.right a:hover {
	background-position: -10px 0px;
}


/* Layout */

body {
	background-color:#f1f3f2;
}

header {
    margin-bottom: 10px;
}
header .topbar,
header .topbar .fill {
    height: 55px;
}

body#bp-default #wp-admin-bar .padder {
	width:950px;
	min-width:950px;
}

.nav {
	float:right;
	padding-top:8px;
}

.topbar .brand {
	padding-top:16px;
}

.topbar .subBrand {
	display:block;
	float:left;
	color:#FFF;
	line-height:55px;
	font-family: 'Nothing You Could Do', cursive;
	font-size:36px;
	text-decoration:none;
	margin-left:-5px;
}

.container {
	width:960px;
}

#content {
	width:720px;
}

#sidebar {
	margin:0px;
	width:240px;
	margin-left:-4px; /* compensate for inline-block white space */

}

#content .post {
	margin-bottom:8px;
}
#content .post .image {
	overflow:hidden;
	display:block;
}
#content .post h2 {
	margin-bottom:5px;
	font-size:18px;
}
#content .post h2 a {
	color:#282828;
}
#content .post .entry-meta {
	color:#9b9b9b;
	font-size:11px;
	display:block;
	margin-bottom:4px;
}

#content .post.featured .image {
	max-height:419px;
	min-height:140px;
	background-color: #f3f4f3;
	
}
#content .post.featured .image img {
	width:690px;
}
#content .post.featured .text {
	position:absolute;
	left:10px;
	bottom:10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
	filter: alpha(opacity=90); /* IE 5-7 */
	-moz-opacity: 0.9; /* Netscape */
	-khtml-opacity: 0.9; /* Safari 1.x */
	opacity: 0.9; /* Good browsers */
	background: #2e2e2e; /* Old browsers */
	background: -moz-linear-gradient(top, #2e2e2e 0%, #1d1d1d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2e2e), color-stop(100%,#1d1d1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2e2e2e 0%,#1d1d1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2e2e2e 0%,#1d1d1d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2e2e2e 0%,#1d1d1d 100%); /* IE10+ */
	background: linear-gradient(top, #2e2e2e 0%,#1d1d1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#1d1d1d',GradientType=0 ); /* IE6-9 */
	width:660px;
	color:#FFF;
	padding:10px 15px 5px 15px;
	max-height:60px;
	overflow:hidden;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: #1d1d1d;
}
#content .featured .text h2 {
	color:#FFF;
	margin:0px;
}
#content .featured .text h2 a {
	color:#FFF;
}
#content .featured .text .entry-meta {
	display:none;
}
#content .featured .button {
	display:none;
}
#content .featured .ribbon {
	background-color:#267f70;
}

#content .post.preview {
	float:left;
	width:350px;
}
#content .post.preview .image {
	height:196px;
}
#content .post.preview .text {
	overflow:hidden;
	height:162px;
	padding:0px 10px;
}
#content .post.preview .button {
	margin:20px 10px 10px 10px;
}


#sidebar h4 {
	font-size:14px;
	padding:5px 0px 7px 0px;
}

#sidebar .subscribe {
	padding:10px;
	margin:0px;
}
#sidebar .subscribe fieldset {
	position:relative;
	padding:0px;
	margin:5px 0px 0px 0px;
}
#sidebar .subscribe fieldset label {
	display:none;
}
#sidebar .subscribe input[type="text"] {
	width:170px;
	padding-right:30px;
}
#sidebar .subscribe input.submit {
	border:none;
	position:absolute;
	top:0px;
	right:5px;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); 
}

#sidebar .authors .padder {
	padding-right:0px;
}
#sidebar .authors ul.scrollButtons {
	position:absolute;
	top:14px;
	right:8px;
}
#sidebar .authors .author-list {
	overflow:hidden;
	height:290px;
	margin:0px;
}
#sidebar .authors .author-list li {
	display:inline-block;
	margin:6px 4px 0px 0px;
}
#sidebar .authors .author-list a {
	display:block;
	width:64px;
	height:64px;
	background-color: #f3f4f3;
	overflow:hidden;
}
#sidebar .authors .author-list img {
	width:64px;
	height:64px;
}


#sidebar .categories {
	margin:0px;
}
#sidebar .categories li {
	display:block;
	float:left;
	padding:0px 0px 0px 0px;
}
#sidebar .categories li a {
	padding:10px;
	display:block;
	border: 1px solid #dee0df;
	margin:0px 4px 8px 4px;
	position:relative;
	background-color:#FFF;
}


footer {
	font-size:11px;
	color:#c0c0c0;
}
footer h5 {
	color:#c0c0c0;
	font-size:18px;
	padding:8px 0px;
	font-weight:normal;
}
footer h5.okfnLogo {
	background-image:url(http://assets.okfn.org/web/images/header-logo.png);
	background-repeat:no-repeat;
	padding-left:35px;
}
footer .inner a:link,
footer .inner a:visited {
	color:#c0c0c0;
}
footer .inner a:hover {
	color:#FFF;
}